// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Encode Sans', sans-serif;
$font-size-base-normal: 1rem;
$font-size-base-title: 1.4rem;
$font-size-base-iva: 0.6rem;

$line-height-base: 1.6;


// Colors
$blue: #3498db;
$indigo: #6574cd;
$purple: #9b59b6;
$pink: #f66d9b;
$red: #e74c3c;
$orange: #ff6348;
$yellow: #ffa502;
$green: #2ecc71;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$turquoise: #1abc9c;

$primary: #58a8dc !default;
$secondary: #1f1c33 !default;


